*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# SWIG
bin/swig-3.0.10/CCache
bin/swig-3.0.10/Examples
bin/swig-3.0.10/Source
bin/swig-3.0.10/Makefile
bin/swig-3.0.10/Tools/javascript/Makefile
bin/swig-3.0.10/config.log
bin/swig-3.0.10/config.status
bin/swig-3.0.10/preinst-swig
bin/swig-3.0.10/swig
bin/swig-3.0.10/swig.spec

rf24bcmjava_wrap.o

.idea/
.gradle/

build/
examples/build